@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

.menu {
	background-color: rgba(0,0,0,0.6);
	border-radius: 20px;
	font-family: Verdana;
	min-width: 400px;
	color: #fff;
	box-shadow: 0px 0px 50px 0px #000;
	position: absolute;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 30;
	top: 60%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	background-image: url(https://i.imgur.com/5bQQj6h.png);
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	height: 95px;
	line-height: 155px;
}

.menu .menu-items {
	max-height: 400px;
	overflow-y: auto;
	border-radius: 0px 0px 20px 20px;
}

.menu .menu-items .menu-item {
	height: 40px;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
	-box-shadow: inset 1px 0px 0px 1px rgba(0, 0, 0, 0.6);
	height: 32px;
	line-height: 32px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.menu .menu-items .menu-item.selected {
	background-color: #0057b338;
}