@font-face {
  font-family: justsignature;
  src: url('../fonts/justsignature/JustSignature.woff');
}
body, html {
  width: 100%;
  height: 100%;
}
p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #9e9e9e;
  font-size: 12px;
}
#id-card {
  position: relative;
  display: none;
  margin: 230px 50px 0 0;
  float: right;
  width: 444px;
  height: 275px;
  padding: 54px 17px 10px 144px;
  background: url("../images/idcard.png");
}
img {
  position: absolute;
  left:28px;
  top:60px;
  width: 126px;
  height: 164px;
}

#name {
position: absolute;
  font-weight: bolder;
  font-size: 14px;
  color: #282828;
  left:165px;
  top:49px;
}

#apellido {
	position: absolute;
  font-weight: bolder;
  font-size: 14px;
  color: #282828;
  left:165px;
  top:88px;
}

#inline {
  position: absolute;
  top: 109px;
}
#dob {
  position: absolute;
  position: absolute;
  font-weight: bolder;
  font-size: 14px;
  color: #282828;
  left: 20px;
  top:43px;
  width: 100px;
}
#sex {
  position: absolute;
  font-weight: bolder;
  font-size: 14px;
  color: #282828;
  left: 20px;
  top:17px;
}
#height {
  position: absolute;
  left: 150px;
  width: 60px;
}
#signature {
  position: absolute;
  bottom: 90px;
  right: 20px;
  color: #282828;
  font-weight: bolder;
  font-size: 19px;
  text-transform:capitalize;
  font-family: justsignature;
}
#licenses {
  position: absolute;
  color: #282828;
  top: 109px;
  font-size: 26px;
  right: 33px;
  width: 50px;
}
