@font-face {
    font-family: font;
    src: url(fonts/Growland_Bold.otf);
}

:root {
    --color-princiapl: #edd4af;
}

body {
    font-family: font;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.first-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        h1 {
        color: white;
        font-size: 45px;
    }
    
    .cont-box {
        display: flex;
    }

    .logo {
        width: 20rem;
    }
    
    .box {
        width: 20rem;
        height: 12rem;
        color: white;
        background-color: var(--color-princiapl);
        font-family: font;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        margin: 1rem 3rem;
        transition: all .5s;
    }
    
    .box:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .box h2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        height: 2.5rem;
    }
    
    .box img {
        width: 5rem;
    }
    .box h2 i {
        padding-right: 10px;
    }

.roulette-screen {
display: none;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
position: relative;
}

.redeem-screen {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .form__group {
        position: relative;
        padding: 2vh 0 0;
        margin-top: 1vh;
        width: 25%;
    }
    
    .form__field {
        font-family: inherit;
        width: 100%;
        border: none;
        border-bottom: 3px solid #ffffff;
        outline: 0;
        font-size: 20px;
        color: #fff;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    }
    
    .form__field::placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 100;
    }
    
    .form__field:placeholder-shown~.form__label {
        font-size: 2rem;
        cursor: text;
        top: 2vh;
    }
    
    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1vh;
        color: #9b9b9b;
        z-index: 0;
    }
    
    .form__field:focus {
        padding-bottom: .6vh;
        font-weight: 700;
        border-image: linear-gradient(to right, #f4d8ab, #f4d8ab);
        border-image-slice: 1;
    }
    
    .form__field:focus~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1vh;
        color: #f4d8ab;
        font-weight: 700;
    }
    
    
    /* reset input */
    
    .form__field:required,
    .form__field:invalid {
        box-shadow: none;
    }
    
    .submit {
        margin-top: 3rem;
        transition: all .5s;
    }
    
    .submit:hover {
        transform: scale(1.1);
    }
    
    .submit a {
        text-decoration: none;
        color: #ffffff;
        background-color: black;
        font-size: 1.5rem;
        padding: .5rem .7rem;
        border-radius: 15px;
        font-weight: 700;
        transition: all .5s;
        border: 3px solid #ffffff;
    }
    
    .submit a:hover {
        cursor: pointer;
        color: #f4d8ab;
        border: 3px solid #f4d8ab;
    } 

#header {
    font-size: 40px;
}

div#main {
    text-align: center;
    background-color: rgb(14, 14, 14);
    background-image: url('https://fivem.net/5acaf3ca7e527ae76bc22212bbe7532f.png');
    background-repeat: repeat;
    background-size: 15%;
    animation: back 600s infinite;
    width: 900px;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 15px;
    border: 20px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes back {
  from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      background-position: 10000px -10000px;
    }
  }

p {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: -3%;
    color: white;
    text-align: center;
}

p#countdown {
    font-size: 24px;
    font-weight: 700;
}

button {
    display: inline-block;
    margin: 2rem 0;
    padding: 15px;
    width: 10rem;
    color: black;
    font-size: 14;
    background-color: var(--color-princiapl);
    transition: background-color 0.4s, text-shadow 0.5s;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

button:disabled {
    color: lightgray;
    opacity: 0.5;
    background-color: #343434;
    font-family: bold;
    font-family: not-allowed;
}

button[disabled]:hover {
    background-color: #535353;
    cursor: not-allowed;
}

button:hover {
   cursor: pointer;
}


.raffle-roller {
    height: 100px;
    position: relative;
    margin: 60px auto 30px auto;
    width: 900px;
}
.raffle-roller-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
.raffle-roller-holder {
    overflow: hidden;
    border-radius: 2px;
}
.raffle-roller-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
.raffle-roller-container {
    width: 9999999999999999999px;
    max-width: 999999999999999999px;
    height: 100px;
    background: #000000;
    margin-left: 0;
    transition: all 8s cubic-bezier(.08,.6,0,1);
}
.raffle-roller-holder:before {
content: "";
position: absolute;
border: none;
z-index: 12222225;
width: 5px;
height: 100%;
left: 50%;
background: var(--color-princiapl);
}

.item {
display: inline-block;
float: left;
margin: 4px 0px 0.5px 5px;
    width: 85px;
height: 88px;
    float: left;
border: 1px solid #353535;
background: rgb(24, 24, 24);
background-size: 130%;
   background-repeat: no-repeat;
    background-position: center;
}
.class_red_item {
border-bottom: 4px solid var(--color-princiapl);
}
img {
border: 0;
vertical-align: middle;
}
.winning-item {
border: 2px solid #66b233;
position: relative;
top: -1px;
    border-bottom: 4px solid #66b233;
}

.win-alert {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 20rem;
    background-color: rgb(12, 12, 12);
    z-index: 10000000000;
    border-radius: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.win-alert h2 {
    font-family: font;
    color: white;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}

.win-img {
    margin-bottom: 1rem;
}
.accept {
    background-color: var(--color-princiapl);
    font-family: font;
    width: 50%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}


.confetti {
    position: absolute;
    display: none;
    width: 100%;
    height: 50%;
    top: 0;
    margin: auto;
  }
  
  .confetti2 {
        position: absolute;
        display: none;
        width: 100%;
        height: 50%;
        top: 30%;
        margin: auto;
}

.confetti3 {
        position: absolute;
        display: none;
        width: 100%;
        height: 50%;
        top: 50%;
        margin: auto;    
}
.confetti4 {
        position: absolute;
        display: none;
        width: 100%;
        top: 70%;
        margin: auto;    
}

  .confetti-piece {
    position: absolute;
    width: 8px;
    height: 16px;
    background: #ffd300;
    top: 0;
    opacity: 0;
  }
  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(-9deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 301ms;
            animation-delay: 301ms;
    -webkit-animation-duration: 812ms;
            animation-duration: 812ms;
  }
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(25deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 87ms;
            animation-delay: 87ms;
    -webkit-animation-duration: 757ms;
            animation-duration: 757ms;
  }
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(-70deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 6ms;
            animation-delay: 6ms;
    -webkit-animation-duration: 823ms;
            animation-duration: 823ms;
  }
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(54deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 431ms;
            animation-delay: 431ms;
    -webkit-animation-duration: 734ms;
            animation-duration: 734ms;
  }
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(35deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 361ms;
            animation-delay: 361ms;
    -webkit-animation-duration: 1167ms;
            animation-duration: 1167ms;
  }
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(-26deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 131ms;
            animation-delay: 131ms;
    -webkit-animation-duration: 748ms;
            animation-duration: 748ms;
  }
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(-31deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 243ms;
            animation-delay: 243ms;
    -webkit-animation-duration: 753ms;
            animation-duration: 753ms;
  }
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(35deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 229ms;
            animation-delay: 229ms;
    -webkit-animation-duration: 908ms;
            animation-duration: 908ms;
  }
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(38deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 176ms;
            animation-delay: 176ms;
    -webkit-animation-duration: 780ms;
            animation-duration: 780ms;
  }
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(13deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 386ms;
            animation-delay: 386ms;
    -webkit-animation-duration: 847ms;
            animation-duration: 847ms;
  }
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(23deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 343ms;
            animation-delay: 343ms;
    -webkit-animation-duration: 1110ms;
            animation-duration: 1110ms;
  }
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(5deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 343ms;
            animation-delay: 343ms;
    -webkit-animation-duration: 910ms;
            animation-duration: 910ms;
  }
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(25deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 66ms;
            animation-delay: 66ms;
    -webkit-animation-duration: 1083ms;
            animation-duration: 1083ms;
  }
  .confetti-piece:nth-child(odd) {
    background: #17d3ff;
  }
  .confetti-piece:nth-child(even) {
    z-index: 1;
  }
  .confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    -webkit-animation-duration: 2000ms;
            animation-duration: 2000ms;
  }
  .confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    -webkit-animation-duration: 2500ms;
            animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
  }
  .confetti-piece:nth-child(4n-7) {
    background: #ff4e91;
  }
  
  @-webkit-keyframes makeItRain {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(200px);
    }
  }
  
  @keyframes makeItRain {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(200px);
    }
  }

  
  .exit {
        width: 2.5rem;
        height: 2.5rem;
        background-color: white;
        font-size: 20px;
        position: absolute;
        border-radius: 15px;
         top: 5%;
        left: 5%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .exit:hover {
        cursor: pointer;
      }


      